{% extends 'base.html' %} 
{% block content %}
  <h2 class="title is-1" style= "display: flex; justify-content: center; white-space: nowrap;">
    <a href = "{%url 'applicants_detail' applicant.id%}" style="color: #EDB458;">{{applicant}}'s &nbsp; </a> Profile
  </h2>
  {%if user.applicant.id == applicant.id %}
    <form action="{% url 'applicants_change_privacy' applicant.id %}" method='post' style="display: flex; justify-content: center;">
      {% csrf_token %}
      <button type='submit' class="button" style="background-color:#464E47; color: white; display: flex; justify-content: center;">
        {% if applicant.is_public %}
          Make Private
        {% else %}
          Make  Public
        {% endif %}
      </button>
    </form>
    <br>
  {% endif %}
  {%if user.applicant.id == applicant.id or applicant.is_public %}
    <div class="columns is-multiline">
      <div class="column is-full">
        <h1 class="title is-3">Jobs {{applicant}} has applied to</h1>
      </div>
      {%if applicant.user.jobtitle_set%}
        {% for jobtitle in applicant.user.jobtitle_set.all%}
          <div class="column is-3">
            <div class="card" style="height: 200px; background-color: #EBF5DF;">
              <a href="{% url 'detail' jobtitle.id %}">
                <div class="card-content">
                  <span class="title">{{ jobtitle.company }} - {{ jobtitle.name }}</span>
                    {%if user.applicant.id == applicant.id%}
                      <form action="{% url 'unassoc_user' jobtitle.id %}" method="post">
                        {% csrf_token %}
                        <div style="display: flex; justify-content: center; margin: 5px">
                          <button style="background-color:#464E47; color: white" type="submit" class="button is-small">
                            Remove Application
                          </button>
                        </div>
                      </form> </a>
                    {%endif%}
                </div>
              </a>
            </div>
          </div>
        {% endfor %} 
      {% endif %}
    </div>
    <div class="columns is-multiline">
      <div class="column is-full">
        <h1 class="title is-3">Saved Jobs</h1>
      </div>
      {% for jobtitle in applicant.joblist.all %}
        <div class="column is-3">
          <div class="card" style="background-color: #EBF5DF; height: 200px">
            <a href="{% url 'detail' jobtitle.id %}">
              <div class="card-content">
                <span class="title">{{ jobtitle.company }} - {{ jobtitle.name }}</span>
                  {%if user.applicant.id == applicant.id%}
                    <form action="{% url 'unassoc_job' jobtitle.id applicant.id %}" method="post">
                      {% csrf_token %} 
                      <div style="display: flex; justify-content: center; margin: 5px">
                        <button type="submit" style="background-color:#464E47; color: white" class="button is-small">Remove Job From Profile</button>
                      </div>
                    </form>
                  {%endif%}
                  {% if jobtitle.tags.count %} 
                    {% for tag in jobtitle.tags.all %}
                      <div class = "tag is-small" style="background-color: #EDB458; color:white;">{{ tag.name }}</div>
                    {% endfor %} 
                  {% else %}
                    <div class = "tag is-small">No Tags</div>
                  {% endif %}
              </div>
            </a>
          </div>
        </div>
      {% endfor %} 
    </div>
  {% else %}
    <h1 class="title is-1">This Profile is Private</h1>
  {% endif %}
{% endblock %}