{% extends 'base.html' %} {% block content %}

<h1><a href = "{%url 'applicants_detail' applicant.id%}">{{applicant}}</a>'s Profile</h1>

{%if user.applicant.id == applicant.id or applicant.is_public %}
<form action="{% url 'applicants_change_privacy' applicant.id %}" method='post'>
{% csrf_token %}
    <button type='submit' class='btn'>
    {% if applicant.is_public %}
    Make Private
    {% else %}
    Make Public
    {% endif %}
    </button>
</form>
{% for jobtitle in applicant.joblist.all %}
<div class="card">
  <a href="{% url 'detail' jobtitle.id %}">
    <div class="card-content">
      <span
        >{{ jobtitle.company }} - {{ jobtitle.name }}
        {%if user.applicant.id == applicant.id%}
        <form action="{% url 'unassoc_job' jobtitle.id applicant.id %}" method="post">
          {% csrf_token %} 
          <button type="submit" class="btn">Remove Job From Profile</button>
        </form>
        {%endif%}
         {% if jobtitle.tags.count %} {% for tag in jobtitle.tags.all %}
            <span style="color: {{tag.color}} ">{{ tag.name }}</span>
            {% endfor %} {% else %}
            <h5>No Tags</h5>
            {% endif %}
      </span>
    </div>
  </a>
</div>
{% endfor %} 

{% else %}
<h1>This Profile is Private</h1>

{% endif %}

{% endblock %}
