{% extends 'base.html' %} 
{% block content %}
  <div style="display:flex; flex-direction: column; align-items:center;">
    <h3 class="title is-3">
      Are you sure you want to delete
      <span class="teal-text">{{ object.name }}</span>?
    </h3>
    <br/>
    <div style="display: flex; justify-content: space-between">
      <form action="" method="POST" style="display: flex; align-items: center;">
        {% csrf_token %}
        <input style="background-color:#464E47; color: white;" type="submit" value="Yes - Delete!" class="button" />
      </form>
      <div>
        &nbsp;
      </div>
      <form action="{% url 'tags_index' %}" method="GET" style="display: flex; align-items: center;">
        {% csrf_token %}
        <input style="background-color: #EDB458; color: white;" type="submit" value="Cancel" class="button" />
      </form>
    </div>
  </div>
{% endblock %}
