{% extends 'base.html' %} {% block content %}


<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card" style="margin: 20px auto; width: 500px; background-color: #EBF5DF;">
      <div class="title" style="display: flex; justify-content: center; padding-top: 10px;">        
            <h1>Tag Detail</h1>
        </div>
      <div class="card-content" style="display: flex; justify-content: center;">
        <span  class="card-title"><strong>{{ tag.name }}</strong></span>
      </div>
      <div style="display: flex; justify-content: center;">
      <div class="card-action" style="padding: 0 7px 7px 7px;">
        <a class="tag" style="background-color: #EDB458; " href="{% url 'tags_update' tag.id %}">Edit</a>
      </div>
      <div class="card-action" style="padding: 0 7px 7px 7px;">
        <a class="tag" style="background-color: #EDB458;" href="{% url 'tags_delete' tag.id %}">Delete</a>
      </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
