{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Cohort</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/bulma.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
  </head>
  <body>
    <header>
      <nav
        class="navbar is-dark"
        style="background-color: #464e47"
        role="navigation"
        aria-label="main navigation"
      >
        <div class="navbar-brand">
          <a href=" {% url 'home'%} " class="navbar-item">COHORT</a>
          <a
            role="button"
            class="navbar-burger burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu" id="navbarBasicExample">
          <div class="navbar-end">
          <div class="navbar-item">
            <a
              href="{% url 'index' %}"
              style="color: #edb458"
            >
              View all Jobs
            </a>
          </div>
          {% if user.is_authenticated %}
            <div class="navbar-item">
              <a
                id = "add-job-button"
                style="color: #edb458"
              >
                Add a Job
              </a>
            </div>
            <div class="navbar-item">
              <a
                href="{% url 'applicants_detail' user.applicant.id%}"
                style="color: #edb458"
              >
                View Profile
              </a>
            </div>
            <div class="navbar-item">
              <a href="{% url 'logout' %}" style="color: #edb458"> Log Out</a>
            </div>
          {%else %}
            <div class="navbar-item">
              <a href="{% url 'login' %}" style="color: #edb458"> Log In</a>
            </div>
            <div class="navbar-item">
              <a href="{% url 'signup' %}" style="color: #edb458"> Sign Up</a>
            </div>
          {% endif %}
        </div>
      </nav>
    </header>
    <div class="is-medium" style="background-color: #bad4aa">
      <main style="height: 100vh" id="wrapper" class="container is-fluid">
        <div class="section" style="height: 100">
          {% block content %} {% endblock %}
        </div>
        <div id="modal-ter" class="modal">
          <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head" style="background-color: #bad4aa">
              <p class="modal-card-title is-title">Add a Job</p>
              <button class="delete" id = "close-job-button" aria-label="close"></button>
            </header>
            <form action="{% url 'jobtitles_create_new_job' %}" method="POST">
              {% csrf_token %}
              <section class="modal-card-body"  style=" background-color: #EBF5DF;"> 
                <div class="section" style="height: 100">     
                {{job_title_form.as_table}}
                  <input type="hidden" name="user" value={{request.user.id}}>
                </div>
              </section>
              <footer class="modal-card-foot" style="background-color: #bad4aa">
                <button type = "submit" style="background-color:#464E47; color: white;" class="button is-success">Add Job</button>
                <button id = "cancel-job-button" style="background-color:#EDB458; color: white" class="button">Cancel</button>
              </footer>
            </form>
          </div>
        </div>


      </main>
    </div>
    <footer class="">
      <div class="has-text-centered">
        All Rights Reserved, &copy; 2021 Cohort &nbsp;
      </div>
    </footer>
  </body>
  <script>
    const navButton = document.querySelector(
      "nav .navbar-brand a.navbar-burger.burger[role='button']"
    );
    navButton.addEventListener("click", function (e) {
      const navMenu = document.getElementById(e.target.dataset.target);
      navMenu.classList.toggle("is-active");
    });

    const addJobButton = document.querySelector("#add-job-button");
    const closeJobButton = document.querySelector("#close-job-button");
    const cancelJobButton = document.querySelector("#cancel-job-button");
    const modal = document.getElementById("modal-ter");

    addJobButton.addEventListener("click", function (e) {
      modal.classList.add("is-active");
    })
    
    closeJobButton.addEventListener("click", function (e) {
      modal.classList.remove("is-active");
    })
    
    cancelJobButton.addEventListener("click", function (e) {
      modal.classList.remove("is-active");
    })
    
    
  </script>
</html>