{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Cohort</title>
    {% comment %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    {% endcomment %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/bulma.css' %}"
    />
    {% comment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% endcomment %}
  </head>
  <body>
    <header>
      <nav
        class="navbar is-link"
        role="navigation"
        aria-label="main navigation"
      >
        <div class="navbar-brand">
          <a href="" class="navbar-item">COHORT</a>
          <a
            role="button"
            class="navbar-burger burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu" id="navbarBasicExample">
          <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link"> Jobs </a>
              <div class="navbar-dropdown">
                <a href="{% url 'index' %}" class="navbar-item"> View all Jobs </a>
                {% if user.is_authenticated %}
                <a href="{% url 'jobtitles_create' %}" class="navbar-item"> Add a Job </a>
                {% endif %}
              </div>
            </div>
            {% if user.is_authenticated %}
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link"> Tags </a>
              <div class="navbar-dropdown">
                <a href="{% url 'tags_index' %}" class="navbar-item"> View all Tags </a>
                <a href="{% url 'tags_create' %}" class="navbar-item"> Add a Tag </a>
              </div>
            </div>
            <div class="navbar-item">
              <a href="{% url 'applicants_detail' user.applicant.id%}" class="button is-primary"> View Profile</a>
            </div>
            <div class="navbar-item">
              <a href="{% url 'logout' %}" class="button is-primary"> Log Out</a>
            </div>
            {%else %}
            <div class="navbar-item">
              <a href="{% url 'login' %}" class="button is-primary"> Log In</a>
            </div>
            <div class="navbar-item">
              <a href="{% url 'signup' %}" class="button is-primary"> Sign Up</a>
            </div>
            {% endif %}
          </div>
        </div>
      </nav>
    </header>
    <!-- 
  {% comment %} <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <ul>
          <li><a href="/" class="left brand-logo">&nbsp;&nbsp;Cohort</a></li>
        </ul>
        <ul class="right">
          <li {% if "/jobtitles/" in request.path and "/jobtitles/create" not in request.path %}class="active"{% endif %}><a href="{% url 'index' %}">View All Jobs</a></li>
          {% if user.is_authenticated %}
          <li {% if "/jobtitles/create" in request.path %}class="active"{% endif %}><a href="{% url 'jobtitles_create' %}">Add a Job</a></li>
          <li {% if "/tags/" in request.path and "/tags/create" not in request.path %}class="active"{% endif %}><a href="{% url 'tags_index' %}">View Tags</a></li>
          <li {% if "/tags/create" in request.path %}class="active"{% endif %}><a href="{% url 'tags_create' %}">Add a Tag</a></li>
          <li {% if "/applicants/" in request.path %}class="active"{% endif %}><a href="{% url 'applicants_detail' user.applicant.id%}"> View Profile</a></li>
          <li><a href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
          <li {% if "/login/" in request.path %}class="active"{% endif %}><a href="{% url 'login' %}">Log In</a></li>
          <li {% if "/signup/" in request.path %}class="active"{% endif %}><a href="{% url 'signup' %}">Sign Up</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header> {% endcomment %} -->
    <div
      class="section is-medium"
      {% comment %} style="
        background-color: #000000;
        opacity: 0.8;
        background: repeating-linear-gradient(
          -45deg,
          #f7455b,
          #f7455b 20px,
          #000000 20px,
          #000000 100px
        );
      " {% endcomment %}
    >
      <main class="container is-fluid">{% block content %} {% endblock %}</main>
    </div>
    <footer class="footer">
      <div class="content has-text-centered">
        All Rights Reserved, &copy; 2021 Cohort &nbsp;
      </div>
    </footer>
  </body>
  <script>
    const navButton = document.querySelector(
      "nav .navbar-brand a.navbar-burger.burger[role='button']"
    );
    navButton.addEventListener("click", function (e) {
      const navMenu = document.getElementById(e.target.dataset.target);
      navMenu.classList.toggle("is-active");
    });
  </script>
</html>
