{% extends 'base.html' %}
{% block content %}
<div class="section">
    <article class="message">
        <div class="message-header" style="background-color:#3D3D3D;" style="margin-top: 0ch;" >
          <p>Welcome to Cohort</p>
        </div>
        <div class="message-body" style="background-color: #EBF5DF">
            COHORT'S goal is simple- take the same team-based open source mentality we developers use to solve tough problems and apply it to the Job search. From here,  COHORT was born. Our platform provides a collaborative job-search tool for GA grads to share, talk about and keep track of job opportunities
        </div>
      </article>
      <article class="message is-grey-lighter">
        <div class="message-header" style="background-color:#3D3D3D;" >
          <p>Getting Started</p>
        </div>
        <div class="message-body" style="background-color: #EBF5DF">
            Start by clicking the "Jobs" tag in the upper right hand side of your screen. From here, navigate to the "view All Jobs" page and play around with our filter form. Once you get a feel for how others use the platform, navigate to the "Add a job" page and add your first job! 
        </div>
      </article>
</div>










    
</body> 

{% endblock %}