{% extends 'base.html' %}
{% block content %}

  <h1 class = "title is-1" style="display: flex; justify-content: center;"> {{ jobtitle.name }}, {{ jobtitle.company }}</h1>
  <h5 class = "title is-5" style="display: flex; justify-content: center;"> {{ jobtitle.company }}, &nbsp; {% if jobtitle.location %} {{ jobtitle.location }}, &nbsp; {% endif %} <a style="color: #EDB458" href ="{{ jobtitle.link }}"> Visit the Job Application</a></h5>

  <div class="card" style="background-color: #EBF5DF">
    <div class = "card-content"> <strong>Experience Required (in years): </strong>{{ jobtitle.experience }}</div>
    <div class = "card-content"> <strong>Job Description: </strong>{{ jobtitle.initial_description }}</div>
    <div class = "card-content"> <strong>Skills: </strong>{{ jobtitle.skills }}</div>
    <div class = "card-content"> <strong>Salary: </strong>
      {% if jobtitle.salary%}
        $
      {%endif%}
      {{jobtitle.salary}}
    </div>
  </div>

  {% if jobtitle.user == user %}
    <a href="{% url 'jobtitles_update' jobtitle.id %}">Update</a>
  {% endif %}

  {% if user.is_authenticated %}
    <div class="card" style="background-color: #EBF5DF; margin-top: 30px">
      <div class = "columns">
        <div class="column is-6">
          <div class = "card-content">
            <form action="{% url 'add_comment' jobtitle.id %}" method="post" style = "display: flex; flex-direction: column; align-items: center">
              {% csrf_token %}
              {{ comment_form.as_table }}    
              <input style="background-color:#464E47; color: white;" type="submit" class="button" value="Add Comment">      
            </form>
          </div>
        </div>
        {%if jobtitle.comment_set.all%}
          <div class="column is-6">
            <div class = "card-content">
              <table class="table is-fullwidth" style="background-color: transparent">
                <thead>
                  <tr><th class = "title is-5">Comments</th></tr>
                </thead>
                <tbody>
                  {% for comment in jobtitle.comment_set.all %}
                    <tr>
                      <td style="padding-bottom:25px">{{comment.comment}} {% if comment.user != None %} <br>- <a style="color: #EDB458" href = {% url 'applicants_detail' comment.user.applicant.id %}>@{{ comment.user }} </a>{%endif%}</td>
                      {% if user ==  comment.user %}
                        <td style="padding-bottom:25px"> 
                          <form action="{% url 'delete_comment' comment.jobtitle_id comment.id %}" method="post">
                            {% csrf_token %}
                            <input style="background-color:#464E47; color: white;" type="submit" class="button is-small" value="Delete">
                          </form>
                        </td>
                        <td style="padding-bottom:25px">
                          <form action="{% url 'update_comment' comment.jobtitle_id comment.id %}" method="post">
                            {% csrf_token %}
                            <input style="background-color:#464E47; color: white;" type="submit" class="button is-small" value="Update">
                          </form>
                        </td>
                    {%endif%}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
    <div class = "columns" style="margin-top:20px">
      <div class = "column is-6">
        <div class = "card" style="background-color: #EBF5DF; padding: 15px;">
          <div>
            <h3 class="title is-3"> Users who have applied for this job:</h3>
            {%if jobtitle.user.all%}
              {% for username in jobtitle.user.all %}
                <ul>
                  <li> <a style="color: #EDB458" href = {% url 'applicants_detail' username.applicant.id %}>@{{ username }}</a> </li>
                </ul>
              {% endfor %}
            {%else %}
              No One Has Applied For This Job
            {% endif %}
          </div>
          {% if user in jobtitle.user.all %}
            <form action="{% url 'unassoc_user' jobtitle.id %}" method="post">
              {% csrf_token %}
                <button style="background-color:#464E47; color: white" type="submit" class="button">
                  Remove Application
                </button>        
            </form>
          {% else %}
            <form action="{% url 'assoc_user' jobtitle.id %}" method="post">
              {% csrf_token %}
                <button style="background-color:#464E47; color: white" type="submit" class="button">
                  Mark as Applied
                </button>        
            </form>
          {% endif %}
        </div>
      </div>
      <div class = "column is-6">
        <div class="card" style="background-color: #EBF5DF; padding: 15px;">
          <div class="col s6">
            <h3 class="title is-3">Tags</h3>
            {% if jobtitle.tags.count %} 
              <div class="tags">
                {% for tag in jobtitle.tags.all %}
                  <div class = "tag is-small" style="background-color: #EDB458; color:white;">
                    {{ tag.name }}
                    <form action = "{% url 'unassoc_tag' jobtitle.id tag.id %}" method = "post">
                      {% csrf_token %}
                      <button type= "submit" class="delete is-small"></button>
                    </form>
                  </div>
                {% endfor %} 
              </div>
            {% else %}
              <div class = "tag is-small">No Tags Have Been Applied</div>
            {% endif %}
          </div>
          <div class="col s6">
            <h3>Add a Tag</h3>
            <div class="tags">
              {% if tags.count %} 
                {% for tag in tags.all %}
                  <div class = "tag is-small" style="background-color: #EDB458; color:white;">
                    {{ tag.name }}
                    <form action = "{% url 'assoc_tag' jobtitle.id tag.id %}" method = "post">
                      {% csrf_token %}
                      <button type= "submit" class="delete is-small" style = "transform:rotate(45deg);"></button>
                    </form>
                  </div>
                {% endfor %} 
              {% else %}
                <div class = "tag is-small">No Tags</div>
              {% endif %}
            <a href = "{% url 'tags_create' %}" style="background-color:#464E47; color: white; text-decoration:none;" type="submit" class="tag is-small"> Create A New Tag</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {%endif%}
  <script>
    const selectEl = document.getElementById('id_tag');
    M.FormSelect.init(selectEl);
  </script>
{% endblock %} 