{% extends 'base.html' %}
{% block content %}

<h1>Title: {{ jobtitle.name }}</h1>
<h2>Company: {{ jobtitle.company }} </h2>
<div>Link: {{ jobtitle.link }}</div>
<div>Description: {{ jobtitle.initial_description }}</div>
<div>Skills: {{ jobtitle.skills }}</div>
<div>Years: {{ jobtitle.experience }}</div>
<div>Location: {{ jobtitle.location }}</div>
<div>Salary: {{ jobtitle.salary }}</div>

{% if jobtitle.user == user %}
<a href="{% url 'jobtitles_update' jobtitle.id %}">Update</a>
{% endif %}

<div class="col s6">
{% if user.is_authenticated %}
    <form action="{% url 'add_comment' jobtitle.id %}" method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <input type="submit" class="waves-effect waves-light btn" value="Add Comment">
      </form>
      {% if user in jobtitle.user.all %}
      <form action="{% url 'unassoc_user' jobtitle.id %}" method="post">
        {% csrf_token %}
          <button type="submit" class="waves-effect waves-light btn">
            Remove Application
          </button>        
        </form>
      {% else %}
      <form action="{% url 'assoc_user' jobtitle.id %}" method="post">
      {% csrf_token %}
        <button type="submit" class="waves-effect waves-light btn">
          Mark as Applied
        </button>        
      </form>
        {% endif %}
{%endif%}
<div>
  {% for user in jobtitle.user.all %}
  <div>
    {{ user }}
  </div>
  {% endfor %}
</div>
    <table class="striped">
      <thead>
        <tr><th>Comment</th></tr>
      </thead>
      <tbody>
        {% for comment in jobtitle.comment_set.all %}
          <tr>
            <td>{{comment.comment}} {% if comment.user != None %} <br>- {{ comment.user }} {%endif%}</td>
            {% if user ==  comment.user %}
            <td>
            <a href="{% url 'delete_comment' comment.jobtitle_id comment.id %}">
              DELETE
              </a>
            </td>
            <td>
            <a href="{% url 'update_comment' comment.jobtitle_id comment.id %}">
              UPDATE
              </a>
            </td>
            {%endif%}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<hr />
<div class="row">
  <div class="col s6">
    <h3>{{ jobtitle.name }}'s Tags</h3>
    {% if jobtitle.tags.count %} {% for tag in jobtitle.tags.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          A <span style="color: {{ tag.color }} ">{{ tag.name }}</span> Tag
        </span>
        <br />
        <a
          href="{% url 'unassoc_tag' jobtitle.id tag.id %}"
          class="btn btn rounded btn-danger"
          >REMOVE</a>
      </div>
    </div>
    {% endfor %} {% else %}
    <h5>No Tags</h5>
    {% endif %}
  </div>
  <!-- Available tags will come after this line -->
  {% if user.is_authenticated %}
  <div class="col s6">
    <h3>Choose a Tag</h3>
    {% if tags.count %} {% for tag in tags.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          <span style="color: {{ tag.color }}">{{ tag.name }}</span>
        </span>
      </div>
      <div class="card-action">
        <form action="{% url 'assoc_tag' jobtitle.id tag.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn">Add</button>
        </form>
      </div>
    </div>
    {% endfor %} {% else %}
    <h5>{{jobtitle.name}} Already Has All Available Tags</h5>
    {% endif %}
  </div>
  {%endif%}
</div>

<script>
  const selectEl = document.getElementById('id_tag');
  M.FormSelect.init(selectEl);
</script>

{% endblock %} 