{% extends 'base.html' %} {% block content %}

<h1>Job Titles</h1>

{% for jobtitle in jobtitles %}
<div class="card">
  <a href="{% url 'detail' jobtitle.id %}">
    <div class="card-content">
      <span>{{ jobtitle.company }} - {{ jobtitle.name }}
        {% if user.is_authenticated %}
        <form action="{% url 'assoc_job' jobtitle.id %}" method="post">
          {% csrf_token %} {% if jobtitle in user.applicant.joblist.all%}
          <button type="submit" disabled="true" class="btn">
            Job Already Added To Profile
          </button>
          {%else%}
          <button type="submit" class="btn">Add Job To Profile</button>
          {%endif%}
        </form>
        {%endif%}
        {% if jobtitle.tags.count %} {% for tag in jobtitle.tags.all %}
            <span style="color: {{tag.color}} ">{{ tag.name }}</span>
            {% endfor %} {% else %}
            <h5>No Tags</h5>
            {% endif %}
      </span>
    </div>
  </a>
</div>
{% endfor %} {% endblock %}
