{% extends 'base.html' %} 
{% block content %}

  <div id="job_index" class="columns is-multiline">
    <div class="column is-full">
      <h1 class = "title is-1">List of Jobs</h1>
    </div>
  <div id="filter" class="menu">
    <div class="card-content">
      <span class="title" >Filter by:</span>
      <form method="get" style= "margin-top: 10px; display: flex; flex-direction: column; align-content: center">
        {{myFilter.form.as_p}} 
        <br/>
        <button type="submit" class="button" style="background-color:#464E47; color: white;">Search</button>
      </form>
    </div>
  </div>
    {% for jobtitle in jobtitles %}
      <div class = "column is-3">
        <div class="card" style="background-color: #EBF5DF; height: 200px">
          <a href="{% url 'detail' jobtitle.id %}">
            <div class="card-content">
              <span style="word-break: normal; text-overflow: ellipsis" class="title">{{ jobtitle.company }} - {{ jobtitle.name }}</span>
              {% if user.is_authenticated %}
                <form action="{% url 'assoc_job' jobtitle.id %}" method="post">
                  {% csrf_token %} 
                  <div style="display: flex; justify-content: center; margin: 5px;  overflow-x: hidden;">
                    {% if jobtitle in user.applicant.joblist.all%}
                      <button type="submit" style="background-color:#464E47; color: white;" disabled="true" class="button is-small">
                        Job Already Added To Profile
                      </button>
                    {%else%}
                      <button type="submit" style="background-color:#464E47; color: white" class="button is-small">Add Job To Profile</button>
                    {%endif%}
                  </div>
                </form>
              {%endif%}
              <div class ="tags">
                {% if jobtitle.tags.count %} 
                  {% for tag in jobtitle.tags.all %}
                    <div class = "tag is-small" style="background-color: #EDB458; color:white;">{{ tag.name }}</div>
                  {% endfor %} 
                {% else %}
                  <div class = "tag is-small">No Tags</div>
                {% endif %}
              </div>
            </div>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
 {% endblock %}
